@import "styles/base";

.PasswordCreationForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  .password-form {
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .passwords-do-not-match {
    height: 0.2em;
    color: $red;
  }

  .info-icon {
    margin-left: 10px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.288);
    }
  }
  .extra-info {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    max-width: 25%;
    background-color: $light-grey;
    border: 1px;
    border-style: solid;
  }
  .clue-length-indicator {
    text-align: right;
  }
}

.PasswordRequirementsAlert {
  position: relative;
  box-sizing: border-box;
  background-color: $light-grey;
  align-content: left;
  max-width: 70vw;
  padding: 30px;
}
