$primary-color: #ff0049;
$secondary-color: #002b45;
$secondary-light-color: rgba($secondary-color, 0.5);
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$light-grey: rgb(233, 231, 231);
$grey: rgb(161, 161, 161);
